/* general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

ul {
  list-style: none;
  max-width: 100%;
}

h2,h3,h4,h5,h6 {
  color: white;
}

a {
  color: #a5a6a8;
  text-decoration: none;
  display: inline-block;
  transition: color 0.5s;
}

a:hover {
  color: white;
}

span {
  display: inline-block;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 5px;
  box-shadow: inset 1px 1px 3px 2px rgba(27, 27, 27, 0.4), inset -1px -1px 3px 2px rgba(27, 27, 27, 0.4), inset -1px 1px 3px 2px rgba(27, 27, 27, 0.4);
}
/* /general */

/* main */
main {
  display: flex;
  height: calc(100vh - 90px);
}
/* aside */
aside {
  display: flex;
  width: 230px;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
}

aside i {
  margin-right: 5px;
}
/* nav */
aside nav li {
  padding: 5px 15px;
}

aside nav li:first-child a {
  color: white;
}

nav .logo .logo-text {
  width: 160px;
  margin: 15px 10px;
}

nav .logo .logo-xs {
  display: none;
  width: 30px;
  height: 30px;
  margin: 15px 10px;
}

nav ul li:first-child{
  border-left: 2px solid #2fdb04;
}

nav ul img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  vertical-align: middle;
}

nav i {
  font-size: 24px;
  vertical-align: middle;
}
/* /nav */

/* new playlist */
aside .playlist,
aside .create-playlist {
  margin-top: 15px;
  margin-left: 15px;
}

aside .playlist {
  flex-grow: 1;
  overflow-y: auto;
  min-height: 80px;
}

aside .create-playlist i {
  width: 40px;
  height: 40px;
  background-color: #a5a6a8;
  color: black;
  font-size: 17px;
  margin-top: 10px;
  margin-right: 5px;
  text-align: center;
  line-height: 40px;
  transition: background-color 0.5s;
}

aside .create-playlist a:hover i {
  background-color: white;
}

aside .create-playlist a {
  font-size: 16px;
}

aside .playlist li a {
  padding: 5px 0;
}

aside .playlist li:last-child {
  padding-bottom: 0;
}
/* new playlist */

/* aside footer */
.aside-footer {
  padding: 10px 15px;
}

.aside-footer img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: grey;
  vertical-align: middle;
  margin-right: 5px;
}

.aside-footer hr {
  margin-top: 5px;
  margin-bottom: 8px;
}

.aside-footer .account h4 {
  display: inline-block;
  vertical-align: middle;
}
/* /aside footer */
/* /aside */

/* section */
section {
  flex-basis: 350px;
  flex-grow: 1;
  flex-shrink: 0;
  background-color: #1c1f38;
  overflow-y: auto;
  padding-top: 70px;
  padding-left: 15px;
}

section > *:not(:last-child) {
  margin-bottom: 30px;
}

section  h2 {
  font-size: 28px;
}

section  h4 {
  font-size: 18px;
}

section  h2, section > * > p {
  padding-left: 0.8%;
}

section ul {
  display: flex;
  justify-content: flex-start;
}

section p {
  color: #a5a6a8;
  margin-top: 5px;
  font-size: 12px;
}
/* section header */
.section-header {
  position: fixed;
  top: 0;
  right: 0;
  height: 60px;
  width: calc(100% - 230px);
  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
  z-index: 1;
}

.section-header a {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  width: 200px;
  height: 40px;
  line-height: 38px;
  border: 1px solid white;
  border-radius: 25px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-right: 20px;
}

.section-header a:hover {
  width: 220px;
  height: 45px;
  margin-right: 10px;
  line-height: 45px;
  font-size: 13px;
}
/* /section header */

/* section nav */
.section-nav {
  width: 100%;
  font-size: 12px;
}

.section-nav ul {
  justify-content: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  padding: 0 80px;
}

.section-nav ul li {
  margin-bottom: 20px;
  text-align: center;
  padding: 0 15px;
  position: relative;
}

.section-nav li:first-child a:after {
  content:"";
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 30%;
  height: 2px;
  background-color: #2fdb04;
}
/* /section nav */

/* section main */
section ul:not(:first-child) {
  max-width: 100%;
}

section ul:not(:first-child) li {
  width: calc(100% / 6);
  min-width: 100px;
  text-align: center;
  padding: 0.8%;
  margin-bottom: 10px;
}

section .image {
  width: 100%;
  position: relative;
  margin: 10px 0;
}

section .image img {
  width: 100%;
  display: block;
}

section .image .layover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 50px;
  display: flex;
  opacity: 0;
  transition: opacity 0.5s;
}

section ul li:hover .layover {
  opacity: 1;
}

section .layover i {
  margin: auto;
}
/* Popular Artist */
section .most-popular img {
  border-radius: 50%;
}

section .most-popular .layover {
  border-radius: 50%;
}
/* /Popular Artist */
/* /section main */
/* /section */
/* /main */

/* footer */
footer {
  position: relative;
  display: flex;
  align-items: center;
  background: #272727;
  height: 90px;
  z-index: 2;
  padding: 0 10px;
  min-width: 400px;
}

footer > * {
  flex-basis: 200px;
  flex-grow: 1;
  display: flex;
}

footer p {
  font-size: 10px;
  color: #a5a6a8;
  transition: color 0.5s;
}

footer ul {
  display: flex;
  justify-content: center;
}
/* Track playing */
.footer-left {
  justify-content: space-between;
}

.footer-left > * {
  display: flex;
}

.footer-left img {
  width: 50px;
  margin-right: 10px;
}

.footer-left .title {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.footer-left .title a:hover p{
  color: white;
  text-decoration: underline;
}

.footer-left .preferences {
  display: flex;
  width: 50px;
  justify-content: space-between;
}

.footer-left a {
  margin: auto;
}
/* /Track playing */

/* Media player */
footer .player {
  flex-grow: 15;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #a5a6a8;
}

footer .player ul {
  width: 200px;
  justify-content: space-between;
  align-items: flex-start;
}

footer .player ul li {
  margin: auto;
}

footer .player button {
  background-color: transparent;
  border: none;
  font-size: 12px;
  color: white;
}

footer .player button:hover {
  cursor: pointer;
  outline: none;
}

footer .player button:focus-within {
  outline: none;
}

.player #play {
  height: 25px;
  width: 25px;
  font-size: 22px;
}

.player #play:hover {
  font-size: 24px;
}

footer .player-bar {
  display: flex;
  width: 60%;
  min-width: 200px;
  margin-top: 10px;
}

.bar {
  position: relative;
  width: 100%;
  height: 3px;
  outline: none;
  background-color: grey;
  margin: auto;
}

.bar .progress {
  height: 100%;
  width: 30%;
  background-color: lightgrey;
}

.bar .thumb {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  display: none;
}

.bar:hover {
  cursor: pointer;
}

.bar:hover .progress{
  background-color: #2fdb04;
}

.bar:hover .thumb {
  display: block;
}

footer .player-bar span {
  padding: 0 3%;
  color: white;
  font-weight: bold;
  font-size: 9px;
}
/* /Media player */
footer .player-bar #time-bar,
.footer-right #volume-bar {
  height: 3px;
  background-color: #737578;
  flex-grow: 1;
  margin: auto;
}
/* Player settings */
.footer-right {
  justify-content: space-between;
  padding-right: 1%;
}

.footer-right ul {
  justify-content: space-between;
  width: 70px;
  margin-right: 1%;
}

.footer-right a {
  color: #a5a6a8;
  font-size: 12px;
  padding: 0 5px;
  transition: color 0.5s;
}

.footer-right li:first-child a {
  margin: 0;
}

.footer-right a:hover {
  color: white;
}
/* /Player settings */
/* /footer */

/* MEDIAQUERY */
@media screen and (max-width: 1199px) {

  section ul {
    flex-wrap: wrap;
  }

  section ul:not(:first-child) li {
    width: 25%;
  }

}

@media screen and (max-width: 991px) {

  section ul:not(:first-child) li {
    width: 50%;
  }

  .footer-left .preferences {
    flex-direction: column;
    justify-content: center;
  }

  .footer-left .preferences a {
    margin: 0 auto;
  }

}

@media screen and (max-width: 767px) {

  aside {
    width: 50px;
    text-align: center;
  }

  aside i {
    margin-right: 0;
  }

  nav .logo .logo-text {
    display: none;
  }

  nav .logo .logo-xs {
    display: block;
  }

  aside span,
  aside .create-playlist,
  aside .playlist,
  .aside-footer .account h4,
  aside hr{
    display: none;
  }

  .aside-footer .account img {
    margin-top: 10px;
  }

  .section-header {
    width: calc(100% - 50px);
  }

}

@media screen and (max-width: 600px) {

  footer > * {
    flex-basis: calc(100% / 3);
    min-width: calc(380px / 3);
    flex-shrink: 0;
  }

  footer .player ul {
    width: 100%;
  }

  footer .player-bar {
    width: 100%;
    min-width: 100px;
    flex-shrink: 0;
  }

}
/* /MEDIAQUERY */
